/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:rgb(255, 47, 47);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
 .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Table */
.table1 {
    font:larger;
    column-rule-color: orangered;
    border-color: rgb(149, 0, 255);
    border-right-style:  dotted;
    border-left-style: dotted;
    border-bottom-color: blue;
    color: red
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
   
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
