@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p style="color:green;">Use this area to provide additional information   7TO  CHG V S 130320<p>
<p  style="color:green;"  >Use this area to provide additional information   7TO  CHG V S 130320<p>
<p  style="color:green;">Use this area to provide additional information   7TO  CHG V S 130320<p>
